table, td, th {
  border: 1px solid #969696;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding-left: 8px;
  padding-right: 8px;
}

h1, p, th, td {
  font-family: 'H', 'Trebuchet MS', 'Helvetica'
}

#content {
  width: 700px;
  height: 96vh;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}

span {
  color: #777b84;
  font-size: 15px;
}
